@charset "utf-8";
.container-fluid{
	max-width:1290px;
	margin:0 auto;
	padding: 20px 0;	
}
h1{
	font-family: 'Italianno', cursive;
	font-size:100px;
	color:#7c7373;	
}
h2 {
	background-color:#4b0049;
	color:#ffffff;
	text-align: center;
	padding:20px 0;
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	font-size: 32px;
	text-transform: uppercase;	
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
article{
    p {
        margin-top:30px;
        line-height: 1.6em;
    }
    img {
        width:100%;
        margin-top:15px;
    }
    h3 {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
    }
}

@media screen and (max-width:$breakpoint_Small){	
	p,h1 {
		padding:0 30px;	
    }
    .row  {
		margin: 0;
	}
}
@media (min-width: $breakpoint_Small) and (max-width: $breakpoint_Large) {
	p,h1 {
		padding:0 30px;
	}
	
}
@media (min-width: $breakpoint_Large) and (max-width: $breakpoint_XLarge) {	
	h1 {
		padding:0 40px;		
	}
	p {
		padding: 0 40px;
    }
}
