header {
	position:relative;	
	height:500px;
}
header .container-fluid{
	padding:0;
}
.header-hero {
	position:absolute;
	top:0;
	z-index: -1;
	width:100%;
	height:100%;
}
//Nav
.navbar-default {
    background-color: transparent; 
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default {
      border:none;
  }
  .navbar-nav{
      float:right;
      margin-top:110px;
  }
  .navbar-nav > li, .navbar-nav > li  {
      float:none;
      background-color:transparent;
      border:3px solid rgba(255,255,255,0.5);	
      font-family: 'Teko', sans-serif;
      font-size:33px;
      width:140px;
      margin-bottom:15px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }
  .navbar-nav > li:last-of-type {	
      margin-bottom:0;
  }
  .navbar-nav > li > ul > li {
      font-family: 'Teko', sans-serif;
      font-size:26px;
      margin-left:-3px;
      margin-bottom: 15px;
  }
  .navbar-nav > li.open {
      border-color:#8e44ad;
  }
  .navbar-collapse {
      border-top:none;
      box-shadow:none;		
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #8e44ad;
      text-align: right;
      border:none;
      left:-3px;
      min-width:140px;
  }
  ul.dropdown-menu li:hover {
      margin-left:0;	
  }
  ul.dropdown-menu li a:hover {
      color:#4b0049;
      transition: all ease 1s;
  }
  span.glyphicon-menu-hamburger {
      font-size:20px;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ecdbff;
    transition: all ease 1s;
  }
  .navbar-default .navbar-text {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
  }
  .navbar-nav > li:hover, .navbar-nav > li:focus {
    background-color: rgba(131,103,159,0.31);
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ecdbff;
    transition: all ease 1s;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ecdbff;
    background-color:#4b0049;
    transition: all ease 1s;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #8e44ad;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
    transition: all ease 1s;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ecdbff;
    background-color: rgba(131,103,159,0.31);
    transition: all ease 1s;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #8e44ad;
    transition: all ease 1s;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #ecdbff;
  }
  .caret {
      margin-left:40px;
  }
  @media (max-width:$breakpoint_Small) {
    header {
		max-height: 270px;
	}
	.navbar-toggle {
		position: absolute;
		top:10px;
		right:15px;
		border:3px solid rgba(255,255,255,0.8);	
	}
.navbar-collapse .navbar-nav {
    position: relative;
    margin: 10px 0 0 0;
    background-color: #4b0049;
    width: 100%;
	border:3px solid rgba(255,255,255,0.8);	
	z-index: 1000;
}
	.navbar-collapse .navbar-nav > li, .navbar-nav > li {
		border:none;
		width:100%;
	}
	  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	  }
	  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	  }
	  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
		background-color: #8e44ad;
	  }
	.navbar-toggle {
		color: #ffffff;
	}
  }


  @media (min-width:$breakpoint_Large){
    header img {
        width: 100%;	
    }
    }