.container-fluid {
  max-width: 1290px;
  margin: 0 auto;
  padding: 20px 0;
}

h1 {
  font-family: "Italianno", cursive;
  font-size: 100px;
  color: #7c7373;
}

h2 {
  background-color: #4b0049;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 32px;
  text-transform: uppercase;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

article p {
  margin-top: 30px;
  line-height: 1.6em;
}

article img {
  width: 100%;
  margin-top: 15px;
}

article h3 {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

@media screen and (max-width: 649px) {
  p,
  h1 {
    padding: 0 30px;
  }
  .row {
    margin: 0;
  }
}

@media (min-width: 649px) and (max-width: 960px) {
  p,
  h1 {
    padding: 0 30px;
  }
}

@media (min-width: 960px) and (max-width: 1199px) {
  h1 {
    padding: 0 40px;
  }
  p {
    padding: 0 40px;
  }
}

header {
  position: relative;
  height: 500px;
}

header .container-fluid {
  padding: 0;
}

.header-hero {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.navbar-default {
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
}

.navbar-default {
  border: none;
}

.navbar-nav {
  float: right;
  margin-top: 110px;
}

.navbar-nav > li,
.navbar-nav > li {
  float: none;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.5);
  font-family: "Teko", sans-serif;
  font-size: 33px;
  width: 140px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.navbar-nav > li:last-of-type {
  margin-bottom: 0;
}

.navbar-nav > li > ul > li {
  font-family: "Teko", sans-serif;
  font-size: 26px;
  margin-left: -3px;
  margin-bottom: 15px;
}

.navbar-nav > li.open {
  border-color: #8e44ad;
}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #8e44ad;
  text-align: right;
  border: none;
  left: -3px;
  min-width: 140px;
}

ul.dropdown-menu li:hover {
  margin-left: 0;
}

ul.dropdown-menu li a:hover {
  color: #4b0049;
  transition: all ease 1s;
}

span.glyphicon-menu-hamburger {
  font-size: 20px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
  transition: all ease 1s;
}

.navbar-default .navbar-text {
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}

.navbar-nav > li:hover,
.navbar-nav > li:focus {
  background-color: rgba(131, 103, 159, 0.31);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
  transition: all ease 1s;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #4b0049;
  transition: all ease 1s;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #8e44ad;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
  transition: all ease 1s;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: rgba(131, 103, 159, 0.31);
  transition: all ease 1s;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8e44ad;
  transition: all ease 1s;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}

.navbar-default .navbar-link {
  color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

.caret {
  margin-left: 40px;
}

@media (max-width: 649px) {
  header {
    max-height: 270px;
  }
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    border: 3px solid rgba(255, 255, 255, 0.8);
  }
  .navbar-collapse .navbar-nav {
    position: relative;
    margin: 10px 0 0 0;
    background-color: #4b0049;
    width: 100%;
    border: 3px solid rgba(255, 255, 255, 0.8);
    z-index: 1000;
  }
  .navbar-collapse .navbar-nav > li,
  .navbar-nav > li {
    border: none;
    width: 100%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
  }
  .navbar-toggle {
    color: #fff;
  }
}

@media (min-width: 960px) {
  header img {
    width: 100%;
  }
}

footer {
  background-color: #814c7f;
}

footer .social-sprite,
footer p {
  color: #fff;
}

footer ul.social-sprite {
  text-align: right;
  padding-right: 30px;
  list-style: none;
  float: right;
}

footer ul.social-sprite li {
  display: inline-block;
  margin-left: 15px;
}

footer ul.social-sprite li a {
  background-image: url("../images/social-sprite.png");
  background-repeat: no-repeat;
  border: 2px double rgba(255, 255, 255, 0.7);
  background-color: rgba(203, 166, 211, 0.5);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: inline-block;
}

footer .social-sprite li a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: 1s;
}

footer .social-sprite li a.facebook {
  background-position: 15px 6px;
}

footer .social-sprite li a.facebook:hover {
  background-position: 12px -65px;
}

footer .social-sprite li a.twitter {
  background-position: -186px 10px;
}

footer .social-sprite li a.twitter:hover {
  background-position: -188px -65px;
}

footer .social-sprite li a.pinterest {
  background-position: -319px 8px;
}

footer .social-sprite li a.pinterest:hover {
  background-position: -320px -64px;
}

footer .social-sprite li a.email {
  background-position: -386px 12px;
}

footer .social-sprite li a.email:hover {
  background-position: -385px -64px;
}

@media (max-width: 649px) {
  footer {
    text-align: center;
  }
  footer ul.social-sprite {
    text-align: center;
    float: none;
  }
}
